.app{
  max-width: 300px;
  margin: 0 auto;
}

.job-form {
  box-sizing: border-box;
  border: 1px solid #ccc;
  width: 100%;
  padding: 10px;
}


.job-form h4{
  margin: 5px 0px;
}

.job-form input{
  display: block;
  width: 100%;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.job-form button{
  width: 100%;
  cursor: pointer;
}

.job-list{
  box-sizing: border-box;
  padding: 0;
  width: 100%;
  border: 1px solid #ccc;
}

.job-list .job-item{
  padding: 10px;
  background-color: #fff;
}

.job-item.scheduled {
  background-color: yellow;
  color: #000;
}

.job-item.inprocess {
  background-color: blue;
  color: #fff;
}

.job-item.completed {
  background-color: green;
  color: #fff;
}

.job-item.failed {
  background-color: red;
  color: #fff;
}